<%- include header %>

<h3>Add a post</h3>

  <% if(post !== undefined) { %>



<div class="input-group">
  <form method="post">
  <label for="Title">Title
    <input type="text" name="title" value="<%= post.title %>">
  </label>
  <label for="Body">Body
    <input type="text" name="body" value="<%= post.body %>">
  </label>

  <% }else{ %>
  <form method="post" action="/posts/add">
    <div class="input-group">

    <span class="input-group-addon" id="basic-addon1">title</span><input class="form-control" type="text" name="title">
    </div>
    <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">content</span><textarea  class="form-control" name="body" rows="8" cols="80"></textarea>

    </div>
  <label for="tag">Tag
    <% if(tags !== undefined){ %>
    <% tags.forEach(tag => {%>
      <%= tag.name %><input type="checkbox"  value="<%= tag._id %>" name="tag">
    <%}) %>
    <%}%>

  </label>
  <% } %>
  <button type="submit" class="btn btn-primary btn-block" name="button">Add a post</button>
</form>
</div>
<%- include footer %>
