<%- include header %>
<div class="container">



<div class="list-group">
  <% posts.forEach((post) => { %>
    <a href="/posts/<%= post._id %>" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1"><%= post.title %></h3>
        <% if(post.auther){ %>
          <small><%= post.auther.name %></small>
        <% } %>
      </div>
      <p class="mb-1"><%= post.body %></p>
      <a href="/posts/<%= post._id %>/delete" class="btn btn-outline btn-sm">delete</a><a class="btn btn-outline btn-sm" href="/posts/<%= post._id %>/update">update</a>
    </a>
  <% }) %>
</div>
<a href="?page=1" class="btn btn-primary btn-block">prev page</a>
<a href="?page=2" class="btn btn-primary btn-block">next page</a>

<a href="/posts">posts</a>
<a href="/users">users</a>
<a href="/users/logout">Logout</a>
<a href="/users/login">LogIn</a>
<a href="/tags">Tags</a>
<a href="/images">images</a>

<%- include form %>
</div>
<%- include footer %>
