<%- include header %>

<h2 style="color: red">Title:  <%= post.title %></h2>
<p style="color: #333" id="text"><%= post.body %></p>
<% tags.forEach(tag => {%>
  <a href="/tags/<%= tag.name %>"><%= tag.name %></a>
<%}) %>
<hr>
comments:
<ul class="demo-list-item mdl-list">
  <% comments.forEach((comment) => { %>
  <li class="mdl-list__item">
      text: <%= comment.body %>      name: <% if(comment.auther){ %>
        <%= comment.auther.name %>fdf
        <% } %><span class="reply">reply</span><a href="/comments/<%= comment._id %>/delete">Delete</a>
        <% if(comment.next_id){%>
          <ol>
            <% comment.next_id.forEach((comm) => {%>
              <li>
                subtext: <%= comm.body %>
              </li>
            <%}) %>
          </ol>
        <%} %>
  </li>
  <form class="reply-form" action="/comments/<%= post._id %>/<%= comment._id %>/add" method="post">
    <input type="text" name="sub" value="">
    <button type="submit">submit</button>
  </form>
  <%}) %>
</ul>


<hr>

Add a comment
<form class="" method="post" action="/comments/<%= post._id %>/add">
  <label for="Body">Body
    <input type="text" name="body">
  </label>
    <!-- <input type="text" value="<%= post._id %>" name="id"> -->
  <button type="submit" name="button">Add a comment</button>
</form>
<hr>

<a href="/posts">Back to list</a>

<%- include footer %>

<script src="../javascripts/markdown.js" charset="utf-8"></script>
<script type="text/javascript">
// import {markdown} from 'markdown'
var $ = function(id){
  return document.getElementById(id)
}
var a = $('text').firstChild.nodeValue
$('text').innerHTML = markdown.toHTML( a )
</script>
